.fixedBanner {
  display: inline-block;
  right: 20px;
  position: fixed;
  bottom: 20px;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
  padding: 0;
  margin: 0;
}

.closeImage {
  width: 90%;
  height: auto;
  max-width: 200px;
}

.fixedBanner p {
  text-align: right;
  width: 190px;
}