.contact {
  h2 {
    margin-top: 30px;
  }
}

.contactContainer {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 1.4rem;
}

.contactForm {
  background-color: #FFF;
  padding: 20px 10px;
  border-radius: 30px;
  margin-top: 10px;
}

.formItem {
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  width: 100%;
  padding: 24px 0;
  font-size: 1.6rem;

  &:first-of-type {
    border: none;
  }
}

.formItemLabel {
  width: 100%;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  text-align: left;
  padding-top: 10px;
  max-width: 410px;
  margin: 0 auto;
  padding-bottom: 5px;
  display: block;

  span {
    color: #f77799;
  }
}

.formItemInput {
  border: 1px solid #ffe7ed;
  border-radius: 15px;
  margin-left: 0;
  padding: 0 1rem;
  height: 48px;
  flex: 1;
  width: 100%;
  background: #fff8f9;
  max-width: 410px;
  text-align: left;
  font-size: 1.4rem;
}

.formItemTextarea {
  @extend .formItemInput;
  height: 216px;
}

.button {
  border-radius: 50px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 200px;
  display: block;
  letter-spacing: 0.05em;
  background: #FFF;
  font-weight: bold;
  font-size: 1.2rem;
  border: #FC8EAC 1px solid;

  &:hover {
    background: #FC8EAC;
    color: #FFF;
  }
}

.submitAfter {
  width: 90%;
  background-color: #D9D9D9;
  height: auto;
  font-size: 1.4rem;
  padding: 10px;
  margin: 0 auto;
  max-width: 480px;
  margin-top: 20px;
  display: none;

  &.s1 {
    background-color: #FC8EAC;
  }
}

@media (min-width: 960px) {
  .contact h2 {
    margin-top: 0;
  }

  .contactContainer {
    font-size: 1.6rem;
  }

  .contactForm {
    padding: 50px 100px;
    border-radius: 30px;
    margin-top: 20px;
  }

  .formItem {
    padding: 24px 0;
    display: flex;
    justify-content: space-around;
  }

  .formItemLabel {
    max-width: 180px;
    font-size: 1.6rem;
    padding-bottom: 0;
  }

  .formItemInput,
  .formItemTextarea {
    margin-left: 40px;
  }

  .button {
    width: 100%;
    max-width: 250px;
  }
}

.errorMessage,
.successMessage {
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.successMessage {
  background-color: #FC8EAC;
}