@charset "UTF-8";

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/orbitron/Orbitron-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Orbitron-R";
  src: url("/fonts/orbitron/Orbitron-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MPLUS";
  src: url("/fonts/M_PLUS_1/MPLUS1-VariableFont_wght.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  width: 100%;
}

body {
  color: #333;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
  text-decoration: none;
  font-family: "MPLUS";
  font-weight: 600;
}

* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }
}

img {
  height: auto;
}

section h2 {
  text-align: center;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  font-size: 2rem;

  span {
    background: linear-gradient(transparent 60%, #FFF 60%);
  }
}

.grid-background {
  background-color: #F5F5F5;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #fff calc(100% - 1px)), linear-gradient(90deg, transparent calc(100% - 1px), #fff calc(100% - 1px));
  background-repeat: repeat;
  background-position: center center;
  background-size: clamp(40px, 3.33vw, 42px) clamp(40px, 3.33vw, 42px);
}

@media (min-width: 960px) {
  section h2 {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
}

.header {
  z-index: 9999;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-end;
  height: 30px;
  position: relative;
}

.header-content-wrapper {
  position: fixed;
  font-family: "Orbitron";
  padding: 5px 20px;
  z-index: 999;
}

.header__menu {
  text-align: right;
  font-size: 1.6rem;
  padding: 0 30px;
  display: inline;
  cursor: pointer;
}

#hamburger {
  background-color: transparent;
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 99999;
  right: 24px;
  top: 10px;
  cursor: pointer;

  .icon span {
    position: absolute;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #333;
    border-radius: 8px;
    transition: ease 0.75s;

    &:nth-of-type(1) {
      top: 2px;
    }

    &:nth-of-type(2) {
      top: 8px;
    }
  }
}

.nav {
  z-index: 999999;
  position: absolute;
  top: -64px;
  right: 0;
  background: #FFF;
  border-radius: 30px;
  margin: 30px 10px 0 0;
  padding: 0 50px;
  border: 2px solid #FC8EAC;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  transition: all 500ms ease-out;
}
.nav-transition-enter,
.nav-transition-exit.nav-transition-exit-active {
  max-height: 0;
  padding: 0 50px;
}

.nav-transition-exit,
.nav-transition-enter.nav-transition-enter-active,
.nav-transition-enter-done {
  max-height: 600px;
  padding: 30px 50px;
  top: 0;
}

.nav-transition-enter,
.nav-transition-exit {
  top: -64px;
}


#hamburger .open span {
  &:nth-of-type(1) {
    top: 5px;
    transform: rotate(45deg);
    background-color: #333;
  }

  &:nth-of-type(2) {
    top: 5px;
    transform: rotate(-45deg);
    background-color: #333;
  }
}

.nav__list .nav__item {
  font-size: 1.6rem;
  width: 150px;

  span {
    display: inline-block;
  }

  &:hover span {
    transition: .88s;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);

    &:nth-of-type(1) {
      -webkit-transition-delay: .04s;
      transition-delay: .04s;
    }

    &:nth-of-type(2) {
      -webkit-transition-delay: .08s;
      transition-delay: .08s;
    }

    &:nth-of-type(3) {
      -webkit-transition-delay: .12s;
      transition-delay: .12s;
    }

    &:nth-of-type(4) {
      -webkit-transition-delay: .16s;
      transition-delay: .16s;
    }

    &:nth-of-type(5) {
      -webkit-transition-delay: .20s;
      transition-delay: .20s;
    }

    &:nth-of-type(6) {
      -webkit-transition-delay: .24s;
      transition-delay: .24s;
    }

    &:nth-of-type(7) {
      -webkit-transition-delay: .28s;
      transition-delay: .28s;
    }

    &:nth-of-type(8) {
      -webkit-transition-delay: .32s;
      transition-delay: .32s;
    }

    &:nth-of-type(9) {
      -webkit-transition-delay: .36s;
      transition-delay: .36s;
    }

    &:nth-of-type(10) {
      -webkit-transition-delay: .40s;
      transition-delay: .40s;
    }

    &:nth-of-type(11) {
      -webkit-transition-delay: .44s;
      transition-delay: .44s;
    }

    &:nth-of-type(12) {
      -webkit-transition-delay: .48s;
      transition-delay: .48s;
    }
  }
}

.nav__SNS {
  font-size: 1.5rem;
  margin-top: 10px;
}

.nav__list p {
  font-family: "MPLUS";
  color: #FC8EAC;
  margin-top: -2px;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.nav_flex {
  display: flex;
}

.nav_img {
  display: none;
}

.sns_item {
  margin-bottom: 5px;
  display: inline-block;
  max-width: 250px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover::before {
    left: 100%;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  img {
    width: 100%;
    max-width: 150px;
  }
}

.pc {
  display: none !important;
}

.sp {
  display: block !important;
  width: 50%;
  top: 0;
  max-width: 400px;
}

@media (min-width: 960px) {
  .pc {
    display: block !important;
  }

  .sp {
    display: none !important;
  }

  .header {
    height: 70px;
  }

  .header-content-wrapper {
    padding: 20px 50px;
  }

  .header__menu {
    font-size: 2.2rem;
  }

  #hamburger {
    height: 30px;
    width: 30px;
    top: 10px;
    margin-right: 10px;

    .icon span {
      width: 30px;

      &:nth-of-type(1) {
        top: 13px;
      }

      &:nth-of-type(2) {
        top: 23px;
      }
    }

    .open span {
      &:nth-of-type(1) {
        top: 15px;
        transform: rotate(45deg);
        background-color: #333;
      }

      &:nth-of-type(2) {
        top: 15px;
        transform: rotate(-45deg);
        background-color: #333;
      }
    }
  }

  .nav__list {
    .nav__item {
      font-size: 2rem;
      width: 150px;
    }

    h3 {
      font-size: 1.7rem;
      margin-top: 20px;
    }
  }

  .nav {
    z-index: 9999;
    position: absolute;
    top: -64px;
    right: 0;
    background: #FFF;
    border-radius: 30px;
    margin: 60px 30px 0 0;
    padding: 0 150px 0 50px;
    border: 2px solid #FC8EAC;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    transition: all 500ms ease-out;
  }
  
  .nav-transition-enter,
  .nav-transition-exit.nav-transition-exit-active {
    max-height: 0;
    padding: 0 150px 0 50px;
  }
  
  .nav-transition-exit,
  .nav-transition-enter.nav-transition-enter-active,
  .nav-transition-enter-done {
    max-height: 640px;
    padding: 50px 150px 50px 50px;
    top: 0;
  }
  
  .nav-transition-enter,
  .nav-transition-exit {
    top: -64px;
  }

  .nav_img {
    width: 50%;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 30px;
  }
}

.footer {
  position: relative;
  padding: 20px 0 0;
  font-family: "Orbitron-R";
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-container-text ul {
  display: none;

  li {
    padding-left: 20px;
    margin-bottom: 30px;
  }
}

.footer small {
  padding-bottom: 20px;
  font-size: 1.4rem;
}

.footer-container-image img {
  display: none;
}

@media (min-width: 560px) {
  .footer-container-image img {
    display: block;
  }

  .footer-container-text ul {
    display: flex;
  }

  .top_button img {
    width: 50px;
    height: 50px;
  }

  .footer-container-text ul {
    padding-top: 20px;
  }
}

.top_button {
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  transition: .3s;
  opacity: 0;
  right: 1.5em;

  img {
    width: 70px;
    height: 70px;
  }
}

.active {
  opacity: 1;
  visibility: visible;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close img {
  margin-bottom: 2px;
}
